/* Styling for header */
header {
    background-color: #ADD8E6;
    color: #000000;
    text-align: center;
    padding: 20px;
  }
  
  input {
    width: 150px;
  }
  
  .five-card {
    background: #364483cf;
    color: #FFFFFF;
  }
  
  /* Making screen-responsive for mobile devices */
  @media only screen and (max-width: 960px) {
  
    .card-deck {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }